fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
google-cloud-storage
google-genai
google-api-python-client
tink
pydantic
pydantic[email]==2.9.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
